.modal-header {
    text-align: center;
    padding: 10px 15px;
}
#toolName {
    font-size: 24px;
    font-weight: bold;
}
.tool-description {
    text-align: center;
    padding: 0;
}
.modal-dialog {
    margin: auto;
    display: flex;
    align-items: center;
   
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0;
}
.pricing-options, .currency-options, .payment-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 5px;
}
.pricing-options .btn, .currency-options .btn, .payment-options .btn {
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
}
#buyButton {
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .buy-button-container {
        justify-content: flex-end;
        align-items: end;
    }
}
@media (max-width: 767px) {
    .buy-button-container {
        justify-content: flex-start;
        align-items: end;
    }
}
.price-display {
    font-size: 20px;
    font-weight: bold;
}
.pricing-btn, .currency-btn, #payWithUPI, #payWithPayPal {
    border: 1px solid transparent;
    color: #000;
    background-color: transparent;
}
.pricing-btn:not(.active), .currency-btn:not(.active) {
    border: 1px solid var(--primary-color);
    color: #000;
}
.pricing-btn.active, .currency-btn.active, #payWithUPI.active, #payWithPayPal.active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.pricing-btn:hover, .currency-btn:hover, #payWithUPI:hover, #payWithPayPal:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.pricing-btn:not(.active):hover, .currency-btn:not(.active):hover {
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
    color: #000;
}
#payWithUPI, #payWithPayPal {
    padding: 5px 10px;
}
.btn-outline-primary {
    border-color: var(--primary-color) !important;
}
.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
#qrCode {
    display: block;
    margin: 0 auto;
}
.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    margin: 10px;
    transition: transform 0.2s;
}
.counter-container:hover {
    transform: translateY(-3px);
}
.animated-counter {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 0;
}
h4 {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}
